header{
    background-color: darkslategrey;

    color: white;

}
body{
    background-color: rgb(206, 37, 93);

    color: white;

}
.cabecalho-imagem{
    width: 20%;
}

.cabecalho{
   background-color: blueviolet;
    display: flex;
}